<% include ../partials/header.ejs  %>

<div class="container" style="padding-top: 5%; padding-bottom: 5%">
    <h1 class="display-4 text-center">PROJECT LIST</h1><br />
    <!-- Project 1 (Puckager) -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../Assets/Images/project1.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Puckager</h2>
                    <p class="card-text">Puckager is an application that will allow hockey coaches to enter, track, rate
                        and monitor
                        the progress of potential recruits. After providing the appropriate credentials to access the
                        system,
                        users will be able to add recruits to the system, enter scouting reports for recruits,
                        and generate reports to help aid in the process of building their team.
                        <br/>
                    </p>
                    <p class="card-text">
                        <b>Role:</b> Software Engineer<br/>
                        <small class="text-muted">In progress</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <!-- Project 2 (BattleTanx) -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../Assets/Images/project2.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">BattleTanx</h2>
                    <p class="card-text">BattleTanx is top-down tank game. The player controls a tank and shoots enemies
                        with ammunition.Player also can power-up his/her weapon by picking up power-ups. The player can
                        hide behind the
                        solids or, once fired upon, maneuver in rapid turns to buy time with which to fire.
                    </p>
                    <p class="card-text">
                            <b>Role:</b> Artist / Sound Engineer<br/>
                            <small class="text-muted">In progress</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <!-- Project 3 (WEBank) -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../Assets/Images/project3.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">WEBank</h2>
                    <p class="card-text">WEBank is an android application that will allow users to 
                        check their balance, send money, and deposit through this application.
                    </p>
                    <p class="card-text">
                            <b>Role:</b> Software Engineer<br/>
                            <small class="text-muted">Completed</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <!-- Project 4 (MovieTime) -->
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../Assets/Images/project4.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">MovieTime</h2>
                    <p class="card-text">MovieTime is a website that allow users to upload and download movies.</p>
                    <p class="card-text">
                            <b>Role:</b> Software Engineer<br/>
                            <small class="text-muted">Completed</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>