 <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>

</body>

<div>
    <footer class="page-footer font-small text-grey">
        <div class="footer-copyright text-center py-3">© 2019 Copyright: Heeyeong Kim</div>
    </footer>
</div>

</html>