<% include ./partials/header.ejs %>

<div class="container text-center" style="padding-top: 5%; padding-bottom: 5%">
  <div class="jumbotron">
    <h1 class="display-4">Hello, I'm Heeyeong Kim.</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="lead">
      <div class="col-md-7 col-centered">
        <h4>
          <i>"My mission is to act as an instrument of positive change in my family, my work and my community. "</i>
        </h4>
        <br /><br />
      </div>
      <a class="btn btn-dark btn-lg" href="/about" role="button">About Me</a>
    </p>
  </div>
</div>

<% include ./partials/footer.ejs %>