<% include ../partials/header.ejs  %>

<div class="container" style="padding-top: 5%; padding-bottom: 5%;">
    <h1 class="display-4 text-center">I CAN OFFER!</h1><br />
    <!-- First Row -->
    <div class="row">
        <div class="card-deck col-centered">
            <div class="card">
                <img src="/Assets/Images/angular.png" class="card-img-top" style="width:250px; height:250px;">
            </div>
            <div class="card">
                <img src="/Assets/Images/aws.png" class="card-img-top" style="width:250px; height:250px;">
            </div>
            <div class="card">
                <img src="/Assets/Images/csharp.png" class="card-img-top" style="width:250px; height:250px;">
            </div>
        </div>
    </div>
    <br/><br/>
    <!-- Second Row -->
    <div class="row">
            <div class="card-deck col-centered">
                <div class="card">
                    <img src="/Assets/Images/dotnet.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
                <div class="card">
                    <img src="/Assets/Images/java.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
                <div class="card">
                    <img src="/Assets/Images/javascript.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
            </div>
    </div>
    <br/><br/>
    <!-- Third Row -->
    <div class="row">
            <div class="card-deck col-centered">
                <div class="card">
                    <img src="/Assets/Images/mongodb.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
                <div class="card">  
                    <img src="/Assets/Images/mysql.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
                <div class="card">
                    <img src="/Assets/Images/objectivec.png" class="card-img-top" style="width:250px; height:250px;">
                </div>
            </div>
    </div>
</div>

<% include ../partials/footer.ejs %>